/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 26pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts12
{
 font-size: 20pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts13
{
 font-size: 16pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
span.rvts14
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts16
{
 font-size: 16pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts18, span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts19, span.rvts19
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 text-decoration: none;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #ffffff;
 text-transform: uppercase;
 background-color: #000000;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Georgia', serif;
 font-style: italic;
 color: #ffffff;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #ffffff;
}
span.rvts24
{
 font-size: 4pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
span.rvts26
{
 font-size: 14pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts28
{
 font-size: 1pt;
 color: #ffffff;
}
span.rvts29
{
 font-size: 1pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
span.rvts30
{
 font-size: 12pt;
 font-family: 'Cambria Math';
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts34
{
 font-size: 16pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts35
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
span.rvts36
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts37
{
 font-size: 14pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts38
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 line-height: 13px;
 margin: 0px 0px 4px 0px;
}
.rvps5
{
 line-height: 13px;
 margin: 0px 0px 3px 0px;
}
.rvps6
{
 line-height: 13px;
}
.rvps7
{
 text-align: center;
 line-height: 13px;
}
.rvps8
{
 text-align: right;
}
.rvps9 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps10
{
 page-break-after: avoid;
 margin: 8px 0px 8px 0px;
}
.rvps11
{
 text-align: center;
 line-height: 13px;
 page-break-inside: avoid;
 page-break-after: avoid;
}
.rvps12
{
 text-indent: -19px;
 line-height: 13px;
 margin: 4px 0px 0px 19px;
}
.rvps13
{
 text-indent: -29px;
 margin: 8px 0px 8px 29px;
}
.rvps14
{
 text-indent: -19px;
 line-height: 13px;
 margin: 0px 0px 0px 19px;
}
.rvps15
{
 text-indent: -19px;
 margin: 0px 0px 0px 38px;
}
.rvps16
{
 line-height: 1px;
}
.rvps17
{
 margin: 0px 0px 0px 4px;
}
.rvps18
{
 text-indent: -19px;
 margin: 0px 0px 0px 19px;
}
.rvps19
{
 text-indent: -19px;
 line-height: 13px;
 margin: 0px 0px 0px 26px;
}
.rvps20
{
 text-indent: -24px;
 margin: 0px 0px 0px 38px;
}
.rvps21
{
 text-indent: -30px;
 line-height: 13px;
 margin: 0px 0px 0px 30px;
}
.rvps22
{
 line-height: 13px;
}
/* ========== Lists ========== */
.list0 {text-indent: 5px; padding: 0; margin: 0 0 0 19px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 29px; list-style-position: outside; list-style-type: disc;}
.list2 {text-indent: 5px; padding: 0; margin: 0 0 0 38px; list-style-position: outside; list-style-type: disc;}
.list3 {text-indent: 5px; padding: 0; margin: 0 0 0 26px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 38px; list-style-position: outside; list-style-type: disc;}
